body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f3f3f3;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

@font-face {
   font-family: ProximaNovaLight;
   src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
   font-family: ProximaNovaRegular;
   src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
   font-family: OpenSansLight;
   src: url('../fonts/OpenSans_Light_0.ttf');
}

.full-width-header {
  	width:100%;
  	height: calc(100% - 1px);
  	background-image: url('../images/banner.png');
   	background-size: cover;
  	background-attachment: fixed;
   	background-position: center;
   	background-repeat: no-repeat;
}

#container_text {
    position: absolute;
	margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#heading_hello {
	color: #FFF;
	font-family: ProximaNovaRegular;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 7em;
}

#heading_pro {
	font-family: ProximaNovaRegular;
	font-weight: 500;
	color: #4CAF50;
	//opacity: 0;
	font-size: 7em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all .5s ease-in-out;
}

.add_opacity {
	opacity: 1 !important;
	transition: all .5s ease-in-out;
}

#slider {
	transition: all 1s ease-in-out;
}

#navigation_bar {
	transition: all 1s ease-in-out;
}

#navigation_list > li {
	margin-right: 5px;
}

#navigation_list {
	transition: all 1s ease-in-out;
}

#navigation_list > li > a {
  	position: relative;
  	display: block;
  	padding: 10px 15px;
  	border: 1px solid transparent;
	border-radius: 0px !important;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all 0.4s ease-in-out;
}


#navigation_list > li > .hover_a:hover,
#navigation_list > li > .hover_a:focus {
  	text-decoration: none;
  	background-color: #FFF;
	color: #000;
}

.navigation_list_padding {
	padding-top: 10px;
	transition: all 0.4s ease-in-out;
}

.navbar-toggle {
	background-color: #FFF;
}

.icon-bar {
	background-color: #333;
}

#my_pic {
	border-radius: 999px;
	height: 250px;
	margin-right: 40px;
	-webkit-filter: grayscale(100%);
	transition: all 0.4s ease-in-out;
	float: left;
	border: 5px solid #bababa;
}

/*#my_pic:hover {
	-webkit-filter: grayscale(0%);
	transition: all 0.4s ease-in-out;
}*/

.my_pic_hover {
	-webkit-filter: grayscale(0%) !important;
}

.heading_list {
	font-family: ProximaNovaRegular;
	font-size: 4em;
	text-transform: uppercase;
}

.heading_list_two {
	font-family: ProximaNovaRegular;
	font-size: 4em;
	text-transform: uppercase;
	color: #FFF;
}

section {
	margin-top: 200px;
}

#about_met_text {
	font-family: 'Century gothic';
	font-size: 1.3em;
	text-align: justify;
	line-height: 35px;
	font-weight: 100;
	color: #013c09;
}

#navigation_bar {
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.shrink {
  min-height: 35px;
  background-color: #4CAF50;
  border-bottom: 2px solid #333;
}

#a_works {
	font-family: ProximaNovaRegular;
	width: 250px;
	text-transform: uppercase;
	padding: 15px 10px 15px 10px;
	text-decoration: none;
	border: 1px solid #FFF;
	color: #FFF;
	border-radius: 0px;
	margin-top: 20px;
    transition: all 0.4s ease;
}

#a_works:hover {
	background-color: #124435;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#qoute {
	color: #FFF;
	font-size: 15px;
}

.green {
	color: #3A7563;
}


#skills_row{
	background-color: #e4e4e4;
	margin-top: 200px;
	color: #000;
	padding-top: 50px;
}

#about_row {
	color: #000;
	padding-top: 50px;
} 

#my_work {
	text-align:center;
	margin-top: 150px;
}

h3 {
	color: #3A7563;
}

.circle-text {
	font-size: 15px;
}

#skills_row p {
	line-height: 20px;
	font-size: 13px;
}
