// Regular font
@font-face {
  font-family: 'SF-Regular';
  src: url('./SF-Pro-Display-Regular.otf');
}

// Light font
@font-face {
  font-family: 'SF-Light';
  src: url('./SF-Pro-Display-Light.otf');
}
