$navFontColor: #d0d0d0;
$secondaryColor: #3d5afe;
$lightColor: #878787;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../HelveticaNeueLt.ttf');
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue';
  font-weight: 300 !important;
  letter-spacing: 1px;
}
h1 {
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 3px;
}

.right-content {
  background-color: #f5f5f5;
  display: grid;
  height: 100vh;
  overflow-y: scroll;
  grid-template-rows: 0.5fr 2fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-content {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  background-color: #000000f0;
  height: 100vh;
  padding-left: 20%;

  nav {
    color: $navFontColor;

    ul {
      position: absolute;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: 40px 0px 5px 0px;
        font-size: 2em;

        a {
          text-decoration: none;
          color: $navFontColor;
        }

        .active ~ .bottomBorder {
          visibility: visible;
        }

        .bottomBorder {
          visibility: hidden;
          margin-top: 10px;
          border-bottom: 1px solid $secondaryColor;
          width: 50%;
        }

        &:hover > .bottomBorder {
          visibility: visible;
        }
      }
    }
  }

  footer {
    align-self: end;
    color: $lightColor;

    p {
      margin: 5px 0px 5px 0px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 5px;

        img {
          height: 40px;
        }
      }
    }
  }
}

.fadeTranslate-enter {
  opacity: 0;
  transform: translate(0, -30vh);
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transform: translate(0, 30vh);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}
